.title {
  display: flex;
  justify-content: start;
  align-items: center;
}

.title-id {
  height: 30px;
  width: 30px;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}